html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0.5em 1em;
}

#operation {
  background-color: #c0c0ff;
  padding: 0.5em;
}

#data {
  display: table;
  height: 50%;
  margin-top: 1em;
}

#data>div {
  width: 30%;
  height: 100%;
  display: table-cell;
}

#data>div>textarea {
  width: 90%;
  height: 100%;
}
